
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_adminLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="menu-item">
                <div class="larg-icon">
                    <a href="/">
                        <div class="fas fa-home"></div>
                    </a>
                </div>
                <div class="larg-icon-link">
                    <a href="/">Home Page</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="menu-item">
                <div class="larg-icon">
                    <a href="/Admin/Base/Room">
                        <div class="fas fa-bed"></div>
                    </a>
                </div>
                <div class="larg-icon-link">
                    <a href="/Admin/Base/Room">Room</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="menu-item">
                <div class="larg-icon">
                    <a href="/Admin/Promotion/Promotion">
                        <div class="fas fa-gift"></div>
                    </a>
                </div>
                <div class="larg-icon-link">
                    <a href="/">Gift Code</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="menu-item">
                <div class="larg-icon">
                    <a href="/">
                        <div class="fas fa-newspaper"></div>
                    </a>
                </div>
                <div class="larg-icon-link">
                    <a href="/">Post list</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="menu-item">
                <div class="larg-icon">
                    <a href="/">
                        <div class="fas fa-copy"></div>
                    </a>
                </div>
                <div class="larg-icon-link">
                    <a href="/">Statistical</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="menu-item">
                <div class="larg-icon">
                    <a href="/">
                        <div class="fas fa-paper-plane"></div>
                    </a>
                </div>
                <div class="larg-icon-link">
                    <a href="/">Contact Support</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="menu-item">
                <div class="larg-icon">
                    <a href="/Admin/Login/Logout">
                        <div class="fas fa-sign-out-alt"></div>
                    </a>
                </div>
                <div class="larg-icon-link">
                    <a href="/">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>