@model List<DataProvider.Room>
@{
    ViewBag.Title = "GetInfo";
    Layout = "~/Views/Shared/_PaymentPage.cshtml";
    SelectList listType = ViewBag.ListType;
}
<!--Khung chon phong-->
<div id="add_ele">
    <div class="khungchonphong mt-3 mr-5">
        <div class="pl-5 row" id="select">
            <div class="col-3" style="display:block ruby">
                <b>Room Type:</b>
                @Html.DropDownList("typeId", listType, "---Select Type---", new { @class = "form-control", id = "typeId", onchange = "selectType(this)" })
            </div>
        </div>
        <div id="khung" class="khung"></div>

    </div>
</div>
<!--Thong tin phong-->
<div id="info" class="thongtinphong">
    <div class="row pl-4">
        <div class="col-4 anhphong">
            <a href="#">
                <img src="" style="width:94%" class="mt-3" />
            </a>
        </div>
        <div class="col-4 motaphong">

        </div>
        <div class="col-4 giaphong">
            <b>Price:</b>
            <div id="giaphong">abc</div>
            <b>Amount:</b>
            <div class="amount">abc</div>
        </div>
    </div>
</div>

<div class="container-fluid ml-3">
    <h3>Thank you for choosing my services</h3>
    <br />
    <h3>Choose Your Room</h3>
    @using (Html.BeginForm("Cash", "Book", FormMethod.Post, new { @id = "form" }))
    {


        <div class="row total">
            <b>Total: </b>
        </div>
        
        <div class="submit-btn row">
            <input class="btn btn-success" type="button" value="Add Room" onclick="Add()" />
            <input class="btn btn-primary" type="button" value="Purchase" />
        </div>
    }


</div>
