@model List<DataProvider.Room>
@{
    ViewBag.Title = "GetInfo";
    Layout = "~/Views/Shared/_PaymentPage.cshtml";
    SelectList listType = ViewBag.ListType;
}
<!--Khung chon phong-->
<div id="add_ele">
    <div class="khungchonphong mt-3 mr-5">
        <div class="pl-5 row select" id="select">
            <div class="col-3 drop" style="display:block ruby">
                <b>Room Type:</b>
                @Html.DropDownList("0", listType, "---Select Type---", new { @class = "form-control", id = "typeId", onchange = "selectType(this)" })
            </div>

            <div class="col col_close">
                <div class="close_icon float-right"><img src="~/Image/icon/close.jpg" width="20" onclick="remove(this)" data-id="0" /></div>
            </div>
        </div>
        <div id="khung" class="khung"></div>

    </div>
</div>
<!--Thong tin phong-->
<div id="info" class="thongtinphong">
    <div class="row pl-4">
        <div class="col-4 anhphong">
            <a href="#" target="_blank">
                <img src="" style="width:94%" class="mt-3" />
            </a>
        </div>
        <div class="col-4 motaphong">

        </div>
        <div class="col-4">
            <b>Price:</b>
            <div class="giaphong"></div>
            <b>Amount of rooms:</b>
            <div class="amount">
                <input class="amo" type="number" min="0" data-id="0" onchange="changeAmount()"/>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid ml-3">
    <h3>Thank you for choosing my services</h3>
    <br />
    <h3>Choose Your Room</h3>
    @using (Html.BeginForm("Cash", "Book", FormMethod.Post, new { @id = "form" }))
    {
        <div id="form_body"></div>

        <div class="row total">
            <div class="col-3"></div>
            <div class="col-3"></div>
            <div class="col-3">
                <b>Nights: </b>
                <span id="nights">@ViewBag.SoNgay</span>
            </div>
            <div class="col-3">
                <b>Total: </b>
                <span id="total"></span>
            </div>
            

        </div>

        <div class="submit-btn row">
            <div class="col-3"></div>
            <div class="col-3"></div>
            <div class="col-3"></div>
            <div class="col-1"></div>
            <div class="col-2">
                <input class="btn btn-success" type="button" value="Add Room" onclick="Add()" />
                <input class="btn btn-primary" type="button" value="Purchase" />
            </div>
            
        </div>
    }


</div>
